h1, h2{
    font-family: cursive;
    text-align: center;
}

body{
    background-color: #F5F0E1;
    font-family: monospace, serif;

}

.paneer-image, .cholay-image, .jamun-image{
    display: block;
    margin: 0 auto;
    width: 50%;
}

button{
    display: block;
    margin: 12px auto 50px;
    border: none;
    color: white;
    background-color: #5C3A2E;
    padding: 10px 15px;
    border-radius: 7px;
    font-family: monospace, serif;
}

a{
    text-decoration: none;
    color: white;
}

.creative-link{
    color: blue;
    text-decoration: underline;
}


/* .paneer-image, .cholay-image, .jamun-image{
    height: 220px;
    width: auto;
} */

.home-button{
    font-size: 18px;
    margin: 12px auto 10px;
}

div.container{
    text-align: center;
}
ul.myUL{
    display: inline-block;
    text-align: left;
}